.profilePicture {
    position: absolute;
    border: 3px solid #97e408;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 20px;
    width: 80px;
}

.playerName {
    position: absolute;
    font-size: 14px;
    top: 10px;
    left: 20%;
}

.playerScore {
    position: absolute;
    font-size: 14px;
    top: 40px;
    left: 20%;
}